*.pyc
*.db
*.model
*.jpg
*.jpeg
*.png
*.bmp
Examples/
temp/
Models/
config/
**/service/*.json
**/service_spec/*.py
!/services/s2vt-video-captioning/service/service_spec/__init__.py
!/services/
**/etcd/
!/docs/assets/*.jpg
!/docs/assets/users_guide/*.jpg
!/docs/assets/users_guide/*.png