*.pyc
*.db
*.model
*.jpg
*.jpeg
*.png
*.bmp
Examples/
temp/
Models/
config/
**/service/*.json
**/service_spec/*.py
!/Services/gRPC/S2VT_VideoCaptioning/service/service_spec/__init__.py
.idea/
!/docs/assets/*.jpg
!/docs/assets/users_guide/*.jpg