grpcio==1.27.2
grpcio-tools==1.27.2
requests==2.20.0
tensorflow-gpu==2.5.1
umap-learn==0.4.6
visdom==0.1.8.9
webrtcvad==2.0.10
librosa==0.7.2
numba==0.48.0
matplotlib==3.3.4
numpy==1.17.4
scipy==1.6.0
tqdm==4.36.1
sounddevice==0.4.1
Unidecode==1.1.2
inflect==5.0.2
multiprocess==0.70.11.1
