grpcio>=1.14.2
grpcio-tools>=1.14.1
requests==2.20.0
tensorflow==1.15.2
umap-learn
visdom
webrtcvad
librosa>=0.5.1
matplotlib>=2.0.2
numpy>=1.14.0
scipy>=1.0.0
tqdm
sounddevice
Unidecode
inflect
multiprocess
numba